<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular form editor</title>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular1.4.8.min.js"></script>
    <script src="js/angular-route.js"></script>

</head>
<body>
<div ng-app="angularRouter" ng-controller="routerCtrl">
    <button ng-click="toggle()" ng-show="isShow">to preview</button>
    <button ng-click="toggle()" ng-show="!isShow">to edit</button>
    <div ng-show="isShow">
       <ul>
           <li ng-repeat="x in items">
             <input type={{x.type}} /><button ng-click="deleteitem($index)">delete</button>
           </li>
       </ul>
        <button ng-click="toggle1()">add</button>
        <div ng-show="alertShow">
            <div><input type="radio" name="type" value="text">text
            <input type="radio" name="type" value="date">date</div>
            <button ng-click="addItem()">submit</button>
            <button ng-click="toggle1()">exit</button>
        </div>
    </div>


    <div ng-show="!isShow">
        <ul>
            <li ng-repeat="x in items">
                <input type={{x.type}} />
            </li>
        </ul>
    </div>

</div>

<script src="main.js">

</script>
</body>
</html>